
@{
    ViewBag.Title = "Index";
}

<h2>Employee Management</h2>
<div class="jumbotron">
    <ul>
        <li>@Html.ActionLink("Add a new employee", "Register", "Account")</li>
        <li>@Html.ActionLink("Edit employee details", "Edit", "Account")</li>
    </ul>
</div>
