
@{
    ViewBag.Title = "Index";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Employee Management</h3>
    </div>
</div>
<div class="panel-body">
    @Html.ActionLink("Add a new employee", "Register", "Account")
    @Html.ActionLink("Employee details", "Index", "User")
</div>

  
