@model timeTracker.Web.Models.RateChartModel

@{
    ViewBag.Title = "Rate Chart ";
}

<h3 class="text-primary">Employee Contract Rates</h3>

<!--Load Google Chart Ajax API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    google.load("visualization", "1.1", { packages: ["bar"] });
    google.setOnLoadCallback(drawChart);


    function drawChart() {

        $.post('/RateChart/GetJsonData', {}, function (data) {

            var tdata = new google.visualization.DataTable();
            tdata.addColumn('string', '@Model.RoleTitle');
            tdata.addColumn('number', '@Model.RateTitle');
    

            for (i = 0; i < data.length; i++) {

                tdata.addRow([data[i].Role, data[i].Rate]);

            }

            var options = {
                tooltip: { isHtml: true },
                legend: {position: 'none'},
                colors: ['#1d638c'],
                bar: {groupWidth: "90%"}
            };

            var chart = new google.charts.Bar(document.getElementById('chartdiv'));
            chart.draw(tdata, google.charts.Bar.convertOptions(options));

            });

        }

    </script>
<div id="chartdiv" style="width: 1000px; height: 500px;">
</div>


  