<html>
<head>
    <title>Chart</title>
    <!--Load Google Chart Ajax API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
            google.load('visualization', '1.0', { 'packages': ['corechart','controls'] });
            google.setOnLoadCallback(drawDashboard);

            function drawDashboard() {

                var data = google.visualization.arrayToDataTable([
                  ['Name', 'Days Taken'],
                  ['Aoibheann', 5],
                  ['Damien', 4],
                  ['Lisa', 5],
                  ['Lorna', 2],
                  ['Chris', 10]
                ]);

                  var options = {
                      title: 'Number of holidays taken this year',
                      is3D: true,
                  };

                var dashboard = new google.visualization.Dashboard(document.getElementById(dashboard_div));

                rangeSlider = new google.visualization.ControlWrapper({
                    'controlType': 'NumberRangeFilter',
                    'containerId': 'filter_div',
                    'options': {
                        'filterColumnLabel': 'Days Taken',
                        'ui': { 'labelStacking': 'vertical' }
                    }
                });

                pieChart = new google.visualization.ChartWrapper({
                    'chartType': 'PieChart',
                    'containerId': 'chart_div',
                    'options': {
                        'width': '500',
                        'height': '300',
                        'legend': 'right',
                        'pieSliceText': 'value',
                        'title': 'Number of holidays taken this year',
                        'is3D': 'true',
                    }
                });

                dashboard.bind(rangeSlider, pieChart);
                dashboard.draw(data);
        }

    </script>
</head>
<body>
    <div id="dashboard_div"></div>
    <div id="filter_div"></div>
    <div id="chart_div"></div>
</body>
</html>

