@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">

    <div class="well"><h4>TimeTracker - Employee Scheduling Simplified</h4></div>
    <ul>
        <li> @Html.ActionLink("Annual Leave", "AnnualLeave", "Dashboard")</li>
        <li> @Html.ActionLink("Employee Rates", "Index", "RateChart")</li>
    </ul>
</div>
