
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    
    <h4>TimeTracker - Employee Scheduling Simplified</h4>

    <ul>
        <li>@Html.ActionLink("Companies", "Index", "Company")</li>
        <li>@Html.ActionLink("Projects", "Index", "Project")</li>
        <li>@Html.ActionLink("Employees", "Index", "Employee")</li>
    </ul>

</div>

